a {
	color: #FF0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.loginform, .roleform, .registerform, .forgotform1, .forgotform2, .recoverform {
	margin: auto;
}

.roleform, .homepageform {
	margin-left: 10%;
	width: 300px;
}

.portalform, .registerform, .userdataform {
	margin-left: 10%;
	width: 718px;
}

.registerform input, .userdataform input {
	width: 200px;
}

.registerform select, .userdataform select {
	min-width: 206px;
}

.forgotform1 {
	width: 300px;
	margin-top: 12%;
}

.forgotform2 {
	margin-top: 1%;
	width: 300px;
}

.loginform, .recoverform {
	width: 240px;
	margin-top: 12%;
}

.standardfont, .recoverform {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.content {
	margin-left: 10%;
	margin-top: 1%;
	border: #FFFFFF 1px solid;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	margin-right: 10%;
}

.editpicture {
	margin-top: 1%;
	border: #FFFFFF 1px solid;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.navtable, .galtable, .newstable, .boardtable {
	width: 100%;
	margin-left: -2px;
}

.roletable {
	margin-left: 10%;
	margin-top: 10px;
}

.registertable, .portaltable, .userdatatable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.center {
	text-align: center;
}

.navhead, .boardhead {
	background-color: #FF0000;
	color: #FFFFFF;
	text-align: center;
}

.smalltext {
	width: 90%;
	height: 5%;
}

.midtext {
	width: 90%;
}

.newstitle {
	width: 84%;
}

.subtitle {
	width: 43%;
}

.top {
	vertical-align: top;
}

.newsseparator {
	clear: both;
	height: 4px;
	border-width: 0px;
	background: #FF0000;
	width: 100%;
}

.newsinformation {
	width: 30%;
	vertical-align: bottom;
	text-align: justify;
}

.news {
	width: 70%;
	vertical-align: top;
	text-align: justify;
}

.headline {
	color: #777777;
	margin-bottom: -12px;
}

.teaserpicture {
	float: left;
	margin-right: 1%;
	font-size: 10px;
}

.textpicture {
	padding-top: 5px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	border: #777777 1px solid;
}

.alphabetsearch {
	margin-left: 26%;
	width: 300px;
	text-align: center;
}

.subtitle {
	width: 640px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
}

.userlist, .cbelist {
	min-width: 1024px;
	margin-top: 25px;
}

.userlist td, .cbelist td {
	background-color: #EEEEEE;
	padding-left: 5px;
	padding-right: 5px;
}

th {
	color: #FFFFFF;
	background-color: #FF0000;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
}

#uploader {
	width: 86%;
}

.caution, .cautionMail {
	color: #FF0000;
	font-weight: bold;
}

.caution a {
	color: #FFFF00;
	text-decoration: none;
}

.caution a:hover {
	text-decoration: underline;
}

.success {
	font-weight: bold;
	color: #00FF00;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.progressbar {
	width: 50%;
	height: 15px;
}

.progressbar div {
	background-color: #FF0000;
}

.event1, .event2 {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 70%;
	min-height: 25px;
}

.eventsubmitter {
	clear: both;
	float: right;
}

.event1 {
	background-color: #DDDDDD;
}

.caution {
	color: #550000;
	background: #FF5555;
	border-color: #550000;
}

.success {
	color: #005500;
	background: #55FF55;
	border-color: #005500;
}

.success, .caution {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	border-width: 1px;
	border-style: solid;
	width: 75%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tags {
	margin-left: 10%;
}

.tagExists {
	width: 51%;
}

.tagExistAction {
	width: 42%;
}

.cbenews {
	color: #FF0000;
}

.news_photo {
	margin-left: auto;
	margin-right: auto;
}